# Compiled Object files
*.slo
*.lo
*.o
*.exe
*.obj

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual Studio Files
*.pdb
*.user
*.sdf
*.suo
Debug/*
release/*
WindowsEnvVarTest/Debug/*
WindowsEnvVarTest/release/*

# Qt Generate Fiels
Makefile*
